@use 'styles/variables' ;
@use 'styles/borders' as b;


body {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: lightgrey;
  padding: 20px;
  @include b.border-style;

  &__image{
    @include b.border-style;
  }

  &__title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  &__button{
    @include b.border-style;
    padding: 8px 16px;

 
    &--success{
      background-color: variables.$success-color;
    }
  
    &--back{
      background-color: variables.$back-color;
    }
 
  }

}

.card__buttons {
  display: flex;
  justify-content: space-between;
}


