header {
    display: flex;
    justify-content: space-between;
    padding: 5px 150px;
    background-color: white;
}

header ul {
    display: flex;
}   

header ul li {
    list-style-type: none;
    padding-left: 40px;
}

header ul li a {
    color: black;
}


header img {
    height: 50px;
}
.wrapper {
    background-image: url("https://images.unsplash.com/photo-1610832958506-aa56368176cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.main {
    margin: 10px 150px;
    padding: 30px 10px;
    background-color: white;
    border-radius: 10px;
    min-width: 348px;

}

section h2 {
    margin: 0;
}

.main div {
    float: left;
    margin: 20px 10px 0 0;
}

section div img {
    width: 350px;
    height: auto;
}

footer {
    text-align: center;
    background-color: white;
    color: black;
}

.contacts form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form button {
    margin-top: 10px;
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 10px 0;
    width: 50%;
}

table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    font-weight: bold;
}

table td {
    border: 1px solid lightgray;
    text-align: center;
}

table tbody tr td:first-child {
    color: green;
    font-weight: bold;
}